/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
    -webkit-backface-visibility: hidden;
}

/*--- Fixed Landing Page Section --*/
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    content: "";
    z-index: -1;
    background-size: cover;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/16602.jpg);

}


/*--- iOS Fixed Background Image --*/
.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}




