@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap');
@import url('//db.onlinewebfonts.com/c/465b1cbe35b5ca0de556720c955abece?family=AbolitionW00-Regular');

@font-face {
    font-family: "AbolitionW00-Regular";
    src: url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.eot");
    src: url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.woff") format("woff"), url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/465b1cbe35b5ca0de556720c955abece.svg#AbolitionW00-Regular") format("svg");
}


@font-face {
    font-family: 'Sugar Candy';
    font-style: normal;
    font-weight: normal;
    src: local('Sugar Candy'), url('../fonts/sugarcandy/Sugar Candy.otf') format('otf');
}

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    color: #505962;

}

html {
    scroll-behavior: smooth;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

.stylish {
    font-family: 'Sugar Candy';
    text-align: center;
    font-size: 100px;
    font-weight: bolder;

}

/*--- Navigation--*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "AbolitionW00-Regular";
    font-size: 28px !important;
    letter-spacing: .1rem;
    background-color: #010100 !important;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.85;
    width: 100%;
}

.second-head {
    height: 200px !important;
    font-family: 'Sugar candy';
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding: 7px 12px;
    font-size: 20px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: coral;
}


#io {
    text-align: justify;
    color: aliceblue;
}

#pop1 {
    padding-top: 200px;
    padding-left: 50px;
}

.pos-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.pos-top {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}

.triangle-up:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(../img/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
}

.triangle-bottom:after {
    content: '';
    height: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    background: url(../img/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.triangle-bottom {
    position: relative;
}

.second-head {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    color: black;
    padding: 60px 0px 40px 0px;
    margin-top: 0px;
}

#second-para {
    text-align: justify;
    word-spacing: 3px;
    line-height: 24px;
    padding-top: 80px;
    font-weight: 400;
    padding-bottom: 50px;
    text-indent: 30px;
    margin: 0px;

}

.space {
    padding-bottom: 10px;
}

.canvas-area {
    width: 100%;
    float: left;
    padding: 0px 2%;
    margin-top: 0px;
}

.head1 {
    width: auto;
    float: left;

}

.head1 a {
    width: auto;
    float: left;
}

.head1 a img {
    width: auto;
    float: left;
    height: 40px !important;
}

@media(max-width:767px) {
    .ml-auto {
        width: 100% !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        text-align: center;
    }
}

.food-img1 {
    background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    height: 400px;
    width: 100%;
    background-size: cover;
}

.food-1 {
    background: rgb(0, 0, 0, 0.6);
    height: 400px;
    width: 100%
}


#pad1 {
    padding-left: 98px;
}

.heading1 {
    text-align: center;
    padding-top: 30%;
    text-transform: uppercase;
    color: #FFC94D;
    font-size: 20px;
    font-weight: 500;
}

.food1-content {
    text-align: center;
    color: aliceblue;
    padding-top: 8px
}

.link1 {
    padding-left: 105px;
    width: 100%;
    height: 10px;
}

.view {
    padding-left: 206px;
    padding-top: 10px;
}

#pad2 {
    padding-right: 98px;
}



.resp1 {
    background-image: url(https://images.unsplash.com/photo-1542528406-f04308dcf0a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=681&q=80);
    background-size: cover;
    width: 100%;
    height: 300px;
}

#set1 {
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.set-img-1 {
    background-image: url(https://images.unsplash.com/photo-1542528406-f04308dcf0a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=681&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
}

.set-pic-1 {
    background: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 200px;
}

#row2 {
    padding-left: 3.5%;
    padding-bottom: px;
    padding-right: 5%;
}



.opac {
    position: relative;
    width: 100%;
    height: inherit;
    display: table;
    content: "";
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.6);
}

.set-img-2 {
    background-image: url(https://images.unsplash.com/photo-1542282811-943ef1a977c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
}

.set-img-3 {
    background-image: url(https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
}

.set-img-4 {
    background-image: url(https://images.unsplash.com/photo-1548592806-482f9b023d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
    align-content: center;
}

.set-img-5 {
    background-image: url(https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=387&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
    align-content: center;
}

.set-img-6 {
    background-image: url(https://images.unsplash.com/photo-1514518189759-94d8ee01ecf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
    align-content: center;
}

.set-img-7 {
    background-image: url(https://images.unsplash.com/photo-1501688190156-9e816757373a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
    align-content: center;
}


.set-img-8 {
    background-image: url(https://images.unsplash.com/photo-1515931215890-366d3990cf8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    width: 115%;
    height: 200px;
    background-size: cover;
    align-content: center;
}

.food-img2 {
    background-image: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    height: 400px;
    width: 100%;
}

#reservation {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    height: 550px;
    margin-top: -16px;;
}



